h1 {
  padding: 2rem;
}

h2 {
  text-align: center;
}

.card {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black; /* I added this, idk why some style seems to be missing -cp  */
}

.list-group {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
